body{
	text-align: center;
	background: #D3D3D3;
	font-family: "Verdana", "メイリオ", "Meirio", "sans-serif";
}

.container {
	height: 170px;
	width: 300px;
	padding: 5px;
	margin: 0 auto;
	background: #fff;
	border-radius: 10px;
}

.btn {
	display: inline-block;
	margin: 3px auto;
	width: 100px;
	padding: 0.5px;
	border-radius: 5px;
	background: #DC143C;
	box-shadow: 0 4px 0 #660000;
	cursor: pointer;
}
.btn.inactive {
	opacity: 0.8;
}
.btn:hover {
	opacity: 0.8;
}
.btn p {
	font-weight: bold;
	color: #fff;
}
td {
	border: 1px #000000 solid;
	border-collapse: separate;
	border-spacing: 2px;
	height: 50px;
	width: 32px;
}
#your_sum, #com_sum {
	font-weight: bold;
}

